body{
	max-width:80%;
	margin:auto;
	text-align:center ;
	border:1px solid ;
	border-radius:10px;
}
@media only screen and (min-width: 1400px) {
  body {
    max-width:60%;
  }
}
form {
	margin-top: 10px;
	margin-bottom:50px;
}

label {
	font-size: 16px; 
	width: 100px; 
	display: block; 
	text-align: right;
	margin-right: 10px;
	margin-top: 8px;
	margin-bottom: 8px;
}

input {
	width: 250px;
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 16px;
}

.save {
	font-weight: bold;
	width: 130px; 
	padding: 5px 10px; 
	margin-top: 30px;
	background: #cccccc;
}

table {   
	border-style:none;
	width:50%;
	margin:auto;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #FFFFFF}

tr {
	border-style:none;
	text-align:left;	
}
#description{
height:100px !important;
}
.reset{
	width:130px;
}
#header{
	margin:auto !important;
	background:#ffffff;
}
#header h2{
	color:#9F53E6 ;
}#wrapper{
	border-bottom:2px solid #cccccc;
}
.nav{
	float:left;
	background:#ececed;
}
.nav>a{
	text-decoration:none !important;
	
}
.nav:hover{
	background:#d4d4d5;
}
.nav>a>span{
	font-size:25px;
	
}