 body{
	max-width:90%;
	margin:auto; 
	text-align:center ;
	border:1px solid ;
	border-radius:10px;
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
}
 
th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #09c332;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 100%; margin-top: 0px; }
#header {width: 70%; background: #09c332; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	color:rgb(85, 26, 139);
	width: 120px; 
	padding: 5px 10px; 
	font-size:20px;
	margin-bottom: 15px;
	background: #ececed;
	float:left;
	position:absolute;
	left:5%;
}
.add-button:hover{
	background:#cccccc;
}
.edit-button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	color:rgb(85, 26, 139);
	width: 120px; 
	padding: 5px 10px; 
	font-size:20px;
	margin-bottom: 15px;
	background: #ececed;
	float:left;
	text-decoration:none;
	margin-right:10px;
}
.edit-button:hover{
	background:#cccccc;
}
.main_flex{
display:flex;
flex-direction:column;
}
.main_flex_2{
display:flex;
flex-direction:column;
text-align:left;
margin-left:20px;
}
.inner_flex{
	display:flex;
	flex-direction:row;
	border-radius: 10px;
    padding: 10px;
    border: 2px solid #cccccc;
    margin-top:20px;
    justify-content: flex-start;
}
h4{
	margin:0;
	display:inline;
}
p{
	display:inline;
}

.reset{
	width:130px;
}
#header{
	margin:auto !important;
	background:#ffffff;
}
#header h2{
	color:#9F53E6 ;
}#wrapper{
	border-bottom:2px solid #cccccc;
}
.nav{
	float:left;
	background:#ececed;
}
.nav>a{
	text-decoration:none !important;
	
}
.nav:hover{
	background:#d4d4d5;
}
.nav>a>span{
	font-size:25px;
	
}